.parallax {
  /* The image used */
  background-image: url("https://assets.goaaa.com/image/upload/w_auto,q_auto,f_auto/v1647564823/singularity-migrated-images/half-dome-yosemite-via-magazine.jpg.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("https://assets.goaaa.com/image/upload/w_auto,q_auto,f_auto/v1647564823/singularity-migrated-images/half-dome-yosemite-via-magazine.jpg.jpg");

  /* Set a specific height */
  min-height: 500px;
  max-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}




@media screen and (max-width: 100000px) {
  body {
    background-color: lightblue;
  }
}



.myNav .nav-link {
    position: relative;
    transition: color 0.3s ease;
}

.myNav .nav-link:hover,
.myNav .nav-link:focus {
    color: #00adb5 !important;
}

.myNav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00adb5;
    transition: width 0.3s ease;
}

.myNav .nav-link:hover::after,
.myNav .nav-link:focus::after {
    width: 100%;
}
